<%= form_for @term do |f| %>
<% if @term.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@term.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @term.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="field">
	<%= f.label :begin %><br>
	<%= f.date_select :begin %>
</div>

<div class="field">
	<%= f.label :end %><br>
	<%= f.date_select :end %>
</div>

<div class="field">
	<%= f.label :active %>
	<%= f.check_box :active %>
</div>

<%= f.submit %>
<% end -%>