<h1>Terms</h1>
<h2>Current Term</h2>
<div>
	<% if current_term %>
	<div id="progress-bar">
		<div id="ui-progress" style="width: <%= time_progress_percentage_css(current_term.begin, current_term.end) %>%">
		</div>
	</div>
	<div id="term-markers">
		<span id="begin-marker"><%= current_term.begin %></span>
		<span id="end-marker"><%= current_term.end %></span>
	</div>

		<%= form_tag suspend_term_path(current_term), :method => 'put' do %>	
			<%= hidden_field_tag :active, false %>
			<%= submit_tag 'Suspend Term' %>
		<% end %>
	<% else %>
	<p>There is currently no active term. Set one below or <%= link_to "create", new_term_path %> a new one.</p>
	<% end%>
</div>

<h2 style="clear: right">All</h2>
<%= page_entries_info @terms %>
<%= will_paginate @terms %>

<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<th>Terms</th>
		<th>Active?</th>
		<th></th>
		<th></th>
	</tr>
	<% @terms.each do |term| %>
	<tr>
		<td><%= term.begin %> to <%= term.end%></td>
		<td><%= term.active %></td>
		<td><%= link_to 'Destroy', term_path(term.id), :confirm => 'Are you sure?', :method => :delete %></td>
		<td><%= link_to 'Edit', edit_term_path(term.id) %></td>
		<td>
			<% if !term.active %>
				<%= form_tag set_current_term_path(term.id), :method => 'put' do %>	
					<%= hidden_field_tag :active, false %>
					<%= submit_tag 'Set active' %>
				<% end %>
			<% end%>
		</td>
	</tr>
	<% end %>
</table>