<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
    <% @user.proposals.each do |proposal| %>
        <%= proposal.title %>
        <%= link_to 'edit', edit_user_proposal_path(@user, proposal)%>
        <br>
    <% end %>
</p>
<%= link_to 'Create New Proposal', user_proposals_path(@user.id)%> |
<%= link_to 'Edit My Profile', edit_user_path(@user) %> |
<%= link_to 'Logout', :logout %>
