<p>
  <b>Email:</b>
  <%= @user.email %>
  <br>
  <b>Organization:</b>
  <%= @user.organization.name %>
  <br>
  <b>Role:</b>
  <%= @user.role.name.capitalize%>
  <br>
  <b>Active:</b>
  <%= @user.active%>
</p>

<p>
    <% @user.proposals.each do |proposal| %>
        <%= proposal.title %>
        <%= link_to 'edit', edit_user_proposal_path(@user, proposal)%>
        <br>
    <% end %>
</p>
<%= link_to 'Edit User', edit_user_path(@user) %>
