<li>
    <%= f.label :kind %><br>
    <%= f.text_field :kind %><br>

    <%= f.label :doc %><br>
    <%= f.file_field :doc %><br>
    
    <%= f.check_box :_destroy%>
    <%= f.label :_destroy, "Remove" %>
</li>
