<li>
    <%= f.label :kind, 'Document Name' %><br>
    <%= f.text_field :kind %><br>

    <%= f.label :doc, 'File' %><br>
    <%= f.file_field :doc %><br>
    
    <%= f.check_box :_destroy%>
    <%= f.label :_destroy, "Remove" %>
</li>
