<%= form_for([@user, @proposal], :html => { :multipart => true }) do |f| %>
<% if @proposal.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

    <ul>
        <% @proposal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<%= f.hidden_field :term_id, :value => current_term.id %>
    
<div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
</div>

<div class="field">
    <%= f.select(:award_category_id, options_for_select(AwardCategory.all.collect {|p| [ p.name , p.id] })) %>
    
</div>

<ul id="document-list">
    <%= f.fields_for :documents do |builder| %>
        <%= render :partial => 'document_fields', :locals => { :f => builder} %>    
    <% end %>
</ul>

<p><%= link_to_add_fields "Add Document", f, :documents %></p>


<div class="actions">
    <%= f.submit %>
</div>
<% end %>
