<h1>My Proposals</h1>

<%= link_to 'New Proposal', new_user_proposal_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Year Created</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proposals.each do |proposal| %>
  <tr>
    <td><%= proposal.title %></td>
    <td><%= proposal.term.begin%></td>
    <td><%= link_to 'Show', user_proposal_path(@user, proposal) %></td>
    <td><%= link_to 'Edit', edit_user_proposal_path(@user, proposal) %></td>
    <td><%= link_to 'Destroy', [@user, proposal], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>