<p>
  <b>Title:</b>
  <%= @proposal.title %>
  <br>
  <b>Term:</b>
  <%= "#{@proposal.term.begin.year} - #{@proposal.term.begin.year}" %>
  <br>
  <b>Award Category:</b>
  <%= @proposal.award_category.name %>
</p>
<p>
    <b>Documents:</b>
    <br>
    <% @proposal.documents.each do |doc| %>
        <%= link_to doc.kind, doc.doc.url %><br>
    <% end %>
</p>

<% if can? :apply, :proposal %>
    <%= link_to 'Edit', edit_user_proposal_path(@user, @proposal) %> |
    <%= link_to 'Back', user_proposals_path(@user) %>
<% end%>

<% if can? :elect, :proposals %>
    <%= form_tag unelect_user_proposal_path(@user, @proposal), :method => 'delete' do %>
      <%= submit_tag 'Un-Elect Proposal' %>
    <% end %>
    <%= form_tag elect_user_proposal_path(@user, @proposal), :method => 'put' do %>
      <%= hidden_field_tag :organization_id, @user.organization.id %>
      <%= submit_tag 'Elect Proposal' %>
    <% end %>
<% end%>

<% if can? :review, :proposals %>

    <%= link_to 'Back', review_proposals_path %>

    <p>Add a comment:</p>
    <%= form_for @comment do |f| %>
        <%= f.hidden_field :proposal_id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.text_area :content %> <br>
        <%= f.submit %>
    <% end %>
<% end %>

<p>
    <strong>Comments (<%= @proposal.comments.length%>)</strong>
    <ul>
    <% @proposal.comments.each do |c| %>
	<%= User.find(c.user_id).first_name%> <%= User.find(c.user_id).last_name %> wrote:
        <li>
            <p><%= c.content%></p>
        </li>
    <% end %>
    </ul>
</p>