<h1><%= @organization.name %> Admin Control Panel</h1>

<h2>Manage Organization</h2>
<%= form_tag('/ca/update', :method => 'put') do %>
    <%= label_tag :organization, "Organization" %><br>
    <%= organization_combo_box %><br>
    
    <%= label_tag :deadline, "Deadline" %><br>
    <%= select_date @organization.deadline, :prefix => 'deadline' %><br>
    <%= submit_tag("Save Changes") %>
<% end %>

<h2>Manage Users</h2>
<%= link_to "Manage users", users_path %>