<h1><%= @organization.name %> Admin Control Panel</h1>

<h2>Manage Organization</h2>
<%= form_tag(update_campus_control_panel_path, :method => 'put') do %>
	<div class="field">
		<%= label_tag :organization, "Organization" %><br>
	    <%= organization_combo_box %>
	</div>
	<div class="field">
		<%= label_tag :deadline, "Deadline" %><br>
	    <%= select_date @organization.deadline, :prefix => 'deadline' %>
	</div>

    <%= submit_tag("Save Changes") %>
<% end %>